2d-development.mkv filter=lfs diff=lfs merge=lfs -text
advanced-scripting.mkv filter=lfs diff=lfs merge=lfs -text
ai.mkv filter=lfs diff=lfs merge=lfs -text
ai-behind-the-scenes.mkv filter=lfs diff=lfs merge=lfs -text
animations.mkv filter=lfs diff=lfs merge=lfs -text
characters.mkv filter=lfs diff=lfs merge=lfs -text
cinematics.mkv filter=lfs diff=lfs merge=lfs -text
design-considerations.mkv filter=lfs diff=lfs merge=lfs -text
economy-and-accessibility.mkv filter=lfs diff=lfs merge=lfs -text
input-and-ui.mkv filter=lfs diff=lfs merge=lfs -text
instantiating-and-raycasts.mkv filter=lfs diff=lfs merge=lfs -text
inverse-kinematics.mkv filter=lfs diff=lfs merge=lfs -text
mastering-csharp-and-performance.mkv filter=lfs diff=lfs merge=lfs -text
mechanics-and-economy.mkv filter=lfs diff=lfs merge=lfs -text
midterm-review-and-singletons.mkv filter=lfs diff=lfs merge=lfs -text
mirror-demos.mkv filter=lfs diff=lfs merge=lfs -text
networking-for-games.mkv filter=lfs diff=lfs merge=lfs -text
networking-in-unity.mkv filter=lfs diff=lfs merge=lfs -text
physics.mkv filter=lfs diff=lfs merge=lfs -text
prefabs-and-version-control.mkv filter=lfs diff=lfs merge=lfs -text
procedural-generation.mkv filter=lfs diff=lfs merge=lfs -text
project-overview.mkv filter=lfs diff=lfs merge=lfs -text
ui-and-physics.mkv filter=lfs diff=lfs merge=lfs -text
visuals.mkv filter=lfs diff=lfs merge=lfs -text
